registry=https://package-manager-385971809207.d.codeartifact.eu-west-2.amazonaws.com/npm/timsmarttechnology-package-manager/
//package-manager-385971809207.d.codeartifact.eu-west-2.amazonaws.com/npm/timsmarttechnology-package-manager/:always-auth=true
//package-manager-385971809207.d.codeartifact.eu-west-2.amazonaws.com/npm/timsmarttechnology-package-manager/:_authToken=${CODEARTIFACT_AUTH_TOKEN}